---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alejandro Leonian's Portfolio">
  <main class="intro">
    <p class="nes-balloon from-left">
      Hi! My name is Alejandro Leonian and i'm a Full Stack Javascript
      Developer.
    </p>
    <p class="nes-balloon from-right is-dark">
      I started building websites when all you needed was HTML and Google did
      not exist :D
    </p>
    <p class="nes-balloon from-left">
      Currently I use React.js, Node.js, HTML, CSS, Javascript, MySql and
      MongoDB among other tools.
    </p>
    <img src="/public/Images/smiley.png" width="50" />
  </main>
</Layout>

<style>
  .intro {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3vh;
  }
</style>
